.web-app{
  background-color: magenta;
}

.header{
  display: flex;
  justify-content: center;
  background-color: red;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.modal *{
  display: block;
  width: 50%;
  margin: 0 25%;
}

.modal{
  background-color: magenta;
}

button.add,button.edit{
  background-color: blue;
}


button.delete{
  background-color: rgb(172, 80, 80);
}

.add,.edit,.delete{
  border-radius: 5px;
  margin: 2px;
  color: white;
}

.edited{
  transform: scale(1.2);
}

button.edit:hover,button.delete:hover,button.add:hover{
  transform: scale(1.1);
}